<template>
  <default title="Membership Management">
    <section>
      <sub-heading id="add">
        Add a member
      </sub-heading>
      <add-member-form />
    </section>

    <section>
      <sub-heading id="remove">
        Remove a member
      </sub-heading>
    </section>
  </default>
</template>

<script>
import SubHeading from '~/components/SubHeading.vue'
import AddMemberForm from '~/forms/AddMemberForm.vue'

export default {
  components: {
    AddMemberForm,
    SubHeading
  }
}
</script>
