<template>
  <p class="feed">
    <a href="/sermons.rss">
      <img
        alt="RSS logo"
        :src="rss"
      >
    </a>
  </p>
</template>

<script>
import rss from 'super-tiny-icons/images/svg/rss.svg'

export default {
  data () {
    return {
      rss
    }
  },
  metaInfo: {
    link: [
      {
        rel: 'alternate',
        type: 'application/rss+xml',
        href: '/sermons.rss'
      }
    ]
  }
}
</script>

<style lang="scss" scoped>
.feed {
  text-align: right;

  img {
    width: 1.5rem;
  }
}
</style>
