<template>
  <default
    v-if="$page"
    :banner="$page.article.image"
    :bannerstyle="$page.article.bannerstyle"
    :title="$page.article.title"
    :subtitle="$page.article.subtitle"
  >
    <template #metadata>
      <div class="metadata">
        <p>{{ fmtDate($page.article.date) }}</p>
        <p v-if="$page.article.author">
          By {{ $page.article.author }}
        </p>
        <p v-if="$page.article.occassion">
          {{ $page.article.occassion }}
        </p>
      </div>
    </template>
    <!-- eslint-disable vue/no-v-html -->
    <article
      ref="article"
      v-html="$page.article.content"
    />
    <!-- eslint-enable vue/no-v-html -->
    <div
      ref="refs"
      style="display: none;"
    >
      <passage-ref
        v-for="(pr, i) in passageRefs"
        :key="i"
      >
        {{ pr }}
      </passage-ref>
    </div>
  </default>
  <div v-else />
</template>

<page-query>
query($id: ID!) {
  article(id: $id) {
    author
    title
    subtitle
    date
    image
    bannerstyle
    occassion
    content
  }
}
</page-query>

<static-query>
query {
  allArticle {
    edges {
      node {
        id
        path
      }
    }
  }
}
</static-query>

<script>
import delay from 'delay'

import PassageRef from '~/components/PassageRef'
import { formatLADate, readLADate, dateFullFmt } from '~/lib/datetime'

export default {
  components: {
    PassageRef
  },
  data () {
    return {
      passageRefs: []
    }
  },
  async mounted () {
    if (!this.$refs.article) return
    for (const r of this.$refs.article.querySelectorAll('.ref,.pref')) {
      let text = r.innerText
      if (r.classList.contains('pref')) text = `(${text})`
      this.passageRefs.push(text)
      await delay(0)
      const newRef = this.$refs.refs.lastElementChild
      r.parentElement.replaceChild(newRef, r)
    }
  },
  methods: {
    fmtDate (d) {
      d = readLADate(d)
      return formatLADate(d, dateFullFmt)
    }
  },
  metaInfo: {
    link: [
      {
        rel: 'alternate',
        type: 'application/atom+xml',
        href: '/articles.atom'
      }
    ]
  }
}
</script>
