<template>
  <standard
    :set="cq = $page.catechismQuestion"
    :title="`Question #${cq.id}`"
    :cur-id="cq.id"
    :prev-id="prevId"
    :next-id="nextId"
    docname="The Baptist Catechism"
    all-text="all questions"
    :obj="cq"
  >
    <section>
      <sub-heading id="music">
        The Baptist Catechism Set to Music
      </sub-heading>

      <audio-player
        class="song"
        :src="`https://svrbc-web.storage.googleapis.com/orrick-catechism/orrick-catechism-${longId}.mp3`"
        type="audio/mpeg"
        controls
      />
      <g-link to="/copyright/#orrick">
        <span>Composed by Jim Orrick</span>
      </g-link>
    </section>

    <section>
      <sub-heading id="beddome">
        Benjamin Beddome's Exposition
      </sub-heading>
      <mini-catechism
        :cq="cq.beddome.edges[0].node"
        nospell
      />
      From
      <g-link to="/beddome/">
        A Scriptural Exposition of the Baptist Catechism
      </g-link>
    </section>

    <section>
      <sub-heading
        v-if="cq.wlc.edges.length"
        id="wlc"
      >
        The Westminster Larger Catechism
      </sub-heading>
      <div
        v-for="(e, i) in cq.wlc.edges"
        :key="e.node.id"
        :set="wlcq = e.node"
        class="qcontainer"
      >
        <hr v-if="i">
        <standard-view
          docname="The Westminster Larger Catechism"
          :obj="e.node"
          :link="`${$route.path}#wlc`"
          catechism
          head
        />
      </div>
    </section>
  </standard>
</template>

<page-query>
query($id: ID!) {
  catechismQuestion(id: $id) {
    id
    question
    segments {
      text
      verses
    }
    youtube_song
    beddome: belongsTo(filter: { typeName: { eq: BeddomeExposition } }) {
      edges {
        node {
          ... on BeddomeExposition {
            paragraphs {
              qas {
                q
                a
                v
                r
                f
              }
            }
          }
        }
      }
    }
    wlc: belongsTo(filter: { typeName: { eq: WLCQuestion } }) {
      edges {
        node {
          ... on WLCQuestion {
            id
            question
            segments {
              text
              verses
              note
            }
          }
        }
      }
    }
  }
}
</page-query>

<script>
import AudioPlayer from '~/components/AudioPlayer'
import StandardView from '~/components/StandardView'
import MiniCatechism from '~/components/MiniCatechism'
import SubHeading from '~/components/SubHeading'
import Standard from '~/layouts/Standard'

export default {
  components: {
    AudioPlayer,
    StandardView,
    MiniCatechism,
    Standard,
    SubHeading
  },
  computed: {
    longId () {
      return this.$page.catechismQuestion.id.padStart(3, '0')
    },
    prevId () {
      return parseInt(this.$page.catechismQuestion.id) - 1
    },
    nextId () {
      return (parseInt(this.$page.catechismQuestion.id) + 1) % 115
    }
  }
}
</script>

<style lang="scss" scoped>
.song {
  width: 100%;
}

.qcontainer {
  margin: 2rem 0;
}
</style>
