<template>
  <standard
    :set="cp = $page.confessionParagraph"
    :title="`Paragraph ${cp.id}`"
    :cur-id="cp.id"
    :prev-id="cp.prev && cp.prev.id"
    :next-id="cp.next && cp.next.id"
    docname="The Second London Baptist Confession of Faith"
    all-text="all paragraphs"
    :obj="cp"
  >
    <section
      v-if="cp.quiz.edges.length"
      :set="q = cp.quiz.edges.length && cp.quiz.edges[0].node"
    >
      <!-- FUTURE(quiz data complete): remove the v-if statement -->
      <sub-heading
        id="quiz"
      >
        Quiz
      </sub-heading>
      {{ q.question }}
      <div class="wrap-list">
        <div class="cursor-pointer">
          {{ q.options.a.text }}
        </div>
        <div class="cursor-pointer">
          {{ q.options.b.text }}
        </div>
        <div class="cursor-pointer">
          {{ q.options.c.text }}
        </div>
        <div class="cursor-pointer">
          {{ q.options.d.text }}
        </div>
      </div>
    </section>
  </standard>
</template>

<page-query>
query($id: ID!) {
  confessionParagraph(id: $id) {
    id
    prev {
      id
    }
    next {
      id
    }
    segments {
      text
      verses
    }
    quiz: belongsTo(filter: { typeName: { eq: ConfessionQuiz } }) {
      edges {
        node {
          ... on ConfessionQuiz {
            question
            options {
              a {
                text
                correct
              }
              b {
                text
                correct
              }
              c {
                text
                correct
              }
              d {
                text
                correct
              }
            }
          }
        }
      }
    }
  }
}
</page-query>

<script>
import SubHeading from '~/components/SubHeading'
import Standard from '~/layouts/Standard'

export default {
  components: {
    Standard,
    SubHeading
  }
}
</script>
