<template>
  <default
    :title="sermon.title"
    :subtitle="sermon.text"
    :banner="banner"
    :bannerstyle="bannerstyle"
  >
    <!-- TODO: Add banner style -->
    <template #metadata>
      <div class="metadata">
        <div class="occassion">
          <p>{{ sermon.fullDate }}</p>
          <p>
            <preacher-link :sermon="sermon" />
          </p>
        </div>
        <div
          v-if="series"
          class="series"
        >
          <p>
            This is part of a series on
            <g-link
              :to="series.path"
              nospell
            >
              {{ series.title }}
            </g-link>
          </p>
          <p>
            <vibrate-link
              v-if="prev"
              :to="prev.path"
              class="prev icon-before icon-after"
              nospell
            >
              {{ prev.title }}
            </vibrate-link>
          </p>
          <p>
            <vibrate-link
              v-if="next"
              :to="next.path"
              class="next icon-before icon-after"
              nospell
            >
              {{ next.title }}
            </vibrate-link>
          </p>
        </div>
      </div>
    </template>

    <!-- eslint-disable vue/no-v-html -->
    <div v-html="sermon.content" />
    <!-- eslint-enable vue/no-v-html -->

    <div
      v-if="media === 'unavailable'"
      class="unavailable"
    >
      Sorry, there is no recording of this message available.  😢
    </div>
    <div
      v-else
      class="full-width media-tabs-container"
    >
      <div class="main-narrow media-tabs">
        <!-- TODO: handle unavailibility -->
        <div
          :class="{active: media === 'youtube', unavailable: !sermon.youtube}"
          @click="setMedia('youtube')"
        >
          Video
          <span v-if="!sermon.youtube">unavailable</span>
        </div>
        <div
          :class="{active: media === 'audio', unavailable: !sermon.audio}"
          @click="setMedia('audio')"
        >
          Audio
          <span v-if="!sermon.audio">unavailable</span>
        </div>
      </div>
    </div>
    <div
      v-if="media === 'youtube'"
      class="theater"
    >
      <iframe
        width="560"
        height="315"
        :src="`https://www.youtube.com/embed/${sermon.youtube}`"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      />
    </div>
    <div v-if="media === 'audio'">
      <audio-player
        :src="sermon.audio"
        type="audio/mpeg"
        fakewaves
      />
      <a
        :href="sermon.audio"
        rel="noopener"
      >
        <b>
          <span class="icon">get_app</span>
          Download
        </b>
      </a>
    </div>

    <prooftext
      v-if="sermon.text"
      :verses="sermon.text"
    />

    <!-- TODO: Add transcript -->
    <section>
      <sub-heading id="ask">
        Ask a question!
      </sub-heading>

      <p>
        Curious about something taught in this sermon?<br>
        Want to know more about the gospel?<br>
        Leave us a message; we'd love to chat with you!
      </p>

      <contact-form
        to="info"
        :subject="`Message about sermon ${sermon.title}`"
        persist-key="/sermons/id"
      />
    </section>
  </default>
</template>

<page-query>
query($id: ID!) {
  sermon(id: $id) {
    ...SermonParts
    audio
    content
    preacher {
      path
      title
    }
    series {
      bannerstyle
      image
      path
      title
      sermons: belongsTo(
        filter: { typeName: { eq: Sermon } }
        sortBy: "date"
        order: ASC
      ) {
        edges {
          node {
            ... on Sermon {
              ...SermonParts
              path
            }
          }
        }
      }
    }
    text
    unregisteredPreacher
    youtube
  }
}

fragment SermonParts on Sermon {
  date
  title
}
</page-query>

<static-query>
query {
  default: srcImage(id: "banners/bible-table.jpg") {
    image
  }
}
</static-query>

<script>
import AudioPlayer from '~/components/AudioPlayer'
import ContactForm from '~/components/ContactForm'
import PreacherLink from '~/components/PreacherLink'
import Prooftext from '~/components/Prooftext.vue'
import VibrateLink from '~/components/VibrateLink'
import SubHeading from '~/components/SubHeading'
import { Sermon } from '~/lib/data'

export default {
  components: {
    AudioPlayer,
    ContactForm,
    PreacherLink,
    Prooftext,
    SubHeading,
    VibrateLink
  },
  data () {
    return {
      prev: null,
      next: null,
      media: 'audio'
    }
  },
  computed: {
    // These functions have significant impact on our build time in the
    // `Render HTML` step.
    banner () {
      const s = this.series
      if (s && s.image) return s.image
      return this.$static.default.image
    },
    bannerstyle () {
      const s = this.series
      if (s && s.bannerstyle) return s.bannerstyle
      return null
    },
    series () {
      return this.sermon.series
    },
    sermon () {
      return new Sermon(this.$page.sermon)
    }
  },
  watch: {
    $page () {
      this.computeSeries()
      this.resetMedia()
    }
  },
  created () {
    this.computeSeries()
    this.resetMedia()
  },
  methods: {
    computeSeries () {
      if (!this.sermon.series) return
      const sermons = this.sermon.series.sermons.edges
        .map(e => new Sermon(e.node))

      // TODO: Move these into the Sermon class.
      this.prev = null
      this.next = null
      for (const s of sermons) {
        if (s.date < this.sermon.date) {
          this.prev = s
        } else if (s.date > this.sermon.date) {
          this.next = s
          break
        }
      }
    },
    resetMedia () {
      if (this.sermon.youtube) this.media = 'youtube'
      else if (this.sermon.audio) this.media = 'audio'
      else this.media = 'unavailable'
    },
    setMedia (v) {
      switch (v) {
        case 'youtube':
          if (this.sermon.youtube) this.media = 'youtube'
          break
        case 'audio':
          if (this.sermon.audio) this.media = 'audio'
          break
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.metadata {
  display: flex;
  flex-wrap: wrap;

  > * {
    min-width: 10rem;
    flex-grow: 1;
  }
}

.series {
  text-align: center;

  .prev::before {
    content: "navigate_before";
  }

  .prev::after {
    content: "navigate_before";
    visibility: hidden;
  }

  .next::before {
    content: "navigate_next";
    visibility: hidden;
  }

  .next::after {
    content: "navigate_next";
  }
}

.media-tabs-container {
  background-color: var(--lightest-gray);
  margin-bottom: var(--double-inline-margin);
}

.media-tabs {
  display: flex;

  > * {
    flex-grow: 1;
    flex-basis: 0;
    padding: var(--half-inline-margin);
    cursor: pointer;

    &:hover {
      background-color: var(--light-gray2);
    }
  }

  > .active {
    cursor: default;
    border-bottom: 0;
    background-color: var(--light-gray);
  }

  > .unavailable {
    cursor: default;

    &:hover {
      background-color: var(--lightest-gray);
    }
  }
}
</style>
