{{name}} ({{email}}) {{date}}

<table>
  <tr>
    <td>Members</td>
    <td>{{members}}</td>
  </tr>
  <tr>
    <td>Visitors</td>
    <td>{{visitors}}</td>
  </tr>
  <tr>
    <td>Children</td>
    <td>{{children}}</td>
  </tr>
</table>

Prayer requests:
<div>
  {{prayers}}
</div>

Concerns:
<div>
  {{concerns}}
</div>
