<template>
  <default title="All Sermons">
    <p>
      Looking for something a little more user-friendly?  See our
      <!-- eslint-disable-next-line vue/singleline-html-element-content-newline -->
      <g-link to="/sermons/">main sermons page</g-link>.
    </p>
    <hr>
    <div class="container">
      <table>
        <thead>
          <tr>
            <th class="date">
              Date
            </th>
            <th>Title</th>
            <th>Text</th>
            <th>Preacher</th>
            <th>Audio</th>
            <th>YouTube</th>
            <th>Series</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="s in sermons"
            :key="s.id"
          >
            <td class="date">
              {{ s.dateId }}
            </td>
            <td class="title">
              <g-link
                :to="s.path"
                nospell
              >
                {{ s.title }}
              </g-link>
            </td>
            <td class="text">
              {{ s.text }}
            </td>
            <td class="preacher">
              <preacher-link :sermon="s" />
            </td>
            <td class="audio">
              <template v-if="s.audio">
                <a
                  :href="s.audio"
                  rel="noopener"
                >
                  <!-- eslint-disable-next-line vue/singleline-html-element-content-newline -->
                  (<span class="icon">audiotrack</span>)
                </a>
              </template>
            </td>
            <td class="youtube">
              <template v-if="s.youtube">
                <a
                  :href="`https://www.youtube.com/watch?v=${s.youtube}`"
                  rel="noopener"
                  class="no-ext-warn"
                  target="_blank"
                >
                  <img
                    alt="Youtube logo"
                    :src="youtubeLogo"
                  >
                </a>
              </template>
            </td>
            <td class="series">
              <template v-if="s.series">
                <g-link :to="s.series.path">
                  {{ s.series.title }}
                </g-link>
              </template>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </default>
</template>

<static-query>
query {
  sermons: allSermon(sortBy: "date", order: DESC) {
    edges {
      node {
        id
        audio
        date
        path
        preacher {
          path
          title
        }
        text
        title
        youtube
        series {
          path
          title
        }
        unregisteredPreacher
      }
    }
  }
}
</static-query>

<script>
import youtube from 'super-tiny-icons/images/svg/youtube.svg'

import PreacherLink from '~/components/PreacherLink'
import { Sermon } from '~/lib/data'

export default {
  components: {
    PreacherLink
  },
  data () {
    return {
      youtubeLogo: youtube
    }
  },
  computed: {
    sermons () {
      return this.$static.sermons.edges.map(e => new Sermon(e.node))
    }
  }
}
</script>

<style lang="scss" scoped>
.container {
  overflow-x: scroll;
}

th,
td {
  padding-left: 1rem;
  vertical-align: top;
}

th {
  text-align: left;
}

.date {
  white-space: nowrap;
  padding-left: 0;
}

.title {
  display: inline-block;
  width: 20rem;
}

.series {
  display: inline-block;
  width: 15rem;
}

.text {
  width: 12rem;
}

.preacher {
  white-space: nowrap;
}

.youtube img {
  padding-top: 0.3rem;
  width: 1.2rem;
}
</style>
