<template>
  <default
    title="Bulletins"
    :banner="$static.banner.image"
  >
    <p
      v-for="e in $static.allBulletin.edges"
      :key="e.node.id"
      :set="b = e.node"
    >
      <g-link :to="b.path">
        {{ fmtDate(b.date) }}
      </g-link>
    </p>
    <tree-view
      v-if="debug"
      :data="$static.allBulletin.edges.map(e => e.node)"
      :options="{rootObjectKey: 'bulletins'}"
    />
  </default>
</template>

<static-query>
query {
  allBulletin(sortBy: "id") {
    edges {
      node {
        path
        date
      }
    }
  }
  banner: srcImage(id: "banners/open-book.jpg") {
    image
  }
}
</static-query>

<script>
import { formatLADate, readLADate, dateFullFmt } from '~/lib/datetime'

export default {
  methods: {
    fmtDate (d) {
      d = readLADate(d)
      return formatLADate(d, dateFullFmt)
    }
  }
}
</script>
