<template>
  <default title="Events">
    <div class="container">
      <div
        class="content_column"
        style="float: left; width: 50%; text-align: center;"
      >
        <section>
          <subheading id="weekly">
            Weekly events
          </subheading>
          <b>Sunday</b><br>
          <b>9:30 am</b> - Sunday School<br>
          <i>Classes for all ages</i><br><br>
          <b>11:00 am</b> - Morning Worship<br>
          <i>Let us worship our Lord together</i><br><br>
          <b>1:00 pm</b> - Fellowship Lunch<br>
          <i>Lunch provided by the church</i><br><br>
          <b>2:00 pm</b> - Evening Worship<br>
          <i>Let us worship our Lord together</i><br><br>
        </section>
      </div>
      <div
        class="content_column"
        style="float: right; width: 50%; text-align: center;"
      >
        <section>
          <subheading id="weekday">
            Weekdays
          </subheading>
          <b>Tuesday: 7:30pm</b><br>
          Women's Bible Study<br>
          <i>Learning with your fellow sisters</i><br><br>
          <b>Wednesday: 7:00pm</b><br>
          Prayer Meeting<br>
          <i>Let's glorify God with the corporate prayer of His people</i><br><br>
        </section>
      </div>
    </div>

    <hr>

    <section>
      <subheading id="calendar">
        Calendar Overview
      </subheading>
      <p>Here are all of our upcoming events, hope you can join us soon!</p><br>

      <iframe
        src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;ctz=America%2FLos_Angeles&amp;src=cnViZXYxN2kwNmI2bzVtcXFucnZwMW5kdm9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=Mmo5cDZnanJ1Ym4zbTg4cTc5bXJwM2xkcTBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%239E69AF&amp;color=%230B8043&amp;showNav=1&amp;showPrint=0&amp;showTabs=1&amp;showCalendars=0&amp;mode=WEEK"
        style="border-width: 0;"
        width="800"
        height="600"
        frameborder="0"
        scrolling="no"
      />
    </section>
  </default>
</template>

<script>
export default {
  // ..
}
</script>

<style>
.home-links a {
  margin-right: 1rem;
}
</style>

<style scoped>
.container {
  display: flex;
  width: 100%;
}

.content_column {
  flex: 1;
  padding: 16px;
}
</style>
