<template>
  <default
    title="Home group report"
    :banner="$static.banner.image"
  >
    <data-form :template="template" />
  </default>
</template>

<static-query>
query {
  banner: srcImage(id: "banners/paper-ships.jpg") {
    image
  }
}
</static-query>

<script>
import DataForm from '~/components/DataForm'
import template from '~/data/forms/homegroup-report.yml'

export default {
  components: {
    DataForm
  },
  data () {
    return {
      template
    }
  }
}
</script>
