<template>
  <default
    title="Preachers"
    :banner="$static.banner.image"
  >
    <p>
      These are a list of men who have preached recorded sermons at SVRBC.
    </p>
    <ul>
      <li
        v-for="p in preachers"
        :key="p.id"
      >
        <g-link :to="p.path">
          {{ p.title }}
        </g-link>
      </li>
    </ul>
    <tree-view
      v-if="debug"
      :data="preachers"
      :options="{rootObjectKey: 'preachers'}"
    />
  </default>
</template>

<static-query>
query {
  allPreacher(sortBy: "lastname", order: ASC) {
    edges {
      node {
        title
        path
      }
    }
  }
  banner: srcImage(id: "banners/walk-bible.jpg") {
    image
  }
}
</static-query>

<script>
export default {
  computed: {
    preachers () {
      return this.$static.allPreacher.edges
        .map(e => e.node)
    }
  }
}
</script>

<style lang="scss" scoped>
.feed {
  text-align: right;

  img {
    width: 1.5rem;
  }
}

.future {
  opacity: 0.5;
}
</style>
