<template>
  <default title="Sermons">
    <podcast />
    <search />
    <recent />
    <series-list />
  </default>
</template>

<script>
import Podcast from '~/layouts/sermons/Podcast'
import Recent from '~/layouts/sermons/Recent'
import Search from '~/layouts/sermons/Search'
import SeriesList from '~/layouts/sermons/SeriesList'

export default {
  components: {
    Podcast,
    Recent,
    Search,
    SeriesList
  }
}
</script>

<style lang="scss" scoped>
/*
 * Because we currently only render in the client, this keeps the page from
 * bouncing on transition.  This may be removed in v0.4.
 */
main {
  min-height: 100vh;
}

.search {
  width: 100%;
  margin-bottom: var(--double-inline-margin);
}

// Keep the "Sermons" h1 tag from showing up.
::v-deep h1 {
  display: none;
}
</style>
