<template>
  <contact-form
    :to="recipient"
    class="form-container"
    persist-key="/leadership"
    :on-complete="complete"
  >
    <form-input :data="{recipient}">
      <label for="leadership-recipient">Recipient</label>
      <select
        id="leadership-recipient"
        v-model="recipient"
      >
        <option value="info">
          All officers (pastors and deacons)
        </option>
        <option value="josh">
          Josh Sheldon (Pastor)
        </option>
        <option value="conley">
          Conley Owens (Pastor)
        </option>
        <option value="john">
          John Burchett (Deacon)
        </option>
        <option value="john-davis">
          John Davis (Music Ministry)
        </option>
        <option value="daisy-guardado">
          Daisy Guardado (Women’s Ministry)
        </option>
        <option value="dale-hardin">
          Dale Hardin (Treasury)
        </option>
        <option value="ken-tompkins">
          Ken Tompkins (Children’s Ministry)
        </option>
        <option value="james-torrefranca">
          James Torrefranca (Audio/Visual)
        </option>
      </select>
    </form-input>
  </contact-form>
</template>

<script>
import ContactForm from '~/components/ContactForm.vue'
import FormInput from '~/components/FormInput.vue'
import persistMixin from '~/mixins/persist'

export default {
  components: {
    ContactForm,
    FormInput
  },
  mixins: [
    persistMixin
  ],
  data () {
    return {
      recipient: 'info'
    }
  },
  mounted () {
    this.persist('/leadership', 'recipient')
  },
  methods: {
    complete () {
      this.recipient = 'info'
    }
  }
}
</script>
