<!-- AnchorLink is designed to make it easy to have table of contents-style
  anchor links.
  While this is typically simple on the web, vue-router eats up our click
  events so that we can't scroll naturally if we are already at the specified
  path/hash combination.
-->
<template>
  <a
    :href="`${hash}`"
    @click="jump"
  >
    <slot />
  </a>
</template>

<script>
export default {
  props: {
    hash: {
      type: String,
      default () {
        return ''
      }
    }
  },
  methods: {
    jump () {
      // If the link hash isn't already equal to the route hash, the router
      // will scroll as expected without our help.
      if (this.$route.hash !== this.hash) return

      const el = document.querySelector(this.hash)
      if (!el) {
        console.error(`anchor ${this.hash} does not exist`)
      }
      el.scrollIntoView()
    }
  }
}
</script>
