<template>
  <div>
    <hr>
    <div class="button-container-outer">
      <div class="button-container-inner">
        <slot />
      </div>
    </div>
  </div>
</template>

<style scoped>
hr {
  margin-bottom: 0;
}

.button-container-outer {
  position: relative;
}

.button-container-inner {
  margin-top: 1rem;
  position: absolute;
}
</style>
