<template>
  <mail-form
    :id="id"
    :validate="validate"
    :data="mailData"
    template="data"
    notify-recaptcha
    :to="template.to || 'info'"
    :on-complete="reset"
  >
    <template v-for="f in fields">
      <component
        :is="`component-${f.type}`"
        v-if="f.nodata"
        v-show="showField(f)"
        :key="f.key"
        v-model="$data[dk(f)]"
        :template="f"
        :prefix="id"
      >
        <template #[`${f.key}-text`]>
          <slot :name="`${f.key}-text`" />
        </template>
      </component>
      <form-input
        v-else
        v-show="showField(f)"
        :key="f.key"
        :data="$v[dk(f)]"
        class="clearfix"
        :class="[`${f.type}-style`]"
      >
        <component
          :is="`component-${f.type}`"
          v-model="$data[dk(f)]"
          :template="f"
          :prefix="id"
        >
          <template #[`${f.key}-label`]>
            <slot :name="`${f.key}-label`" />
          </template>
        </component>
        <template #failure>
          <div
            v-for="(v, k) in messages"
            v-show="$v[dk(f)][k] === false"
            :key="k"
            class="input-warning-message"
          >
            {{ v }}
          </div>
        </template>
      </form-input>
    </template>
    <template #success>
      {{ template.success }}
    </template>
    <tree-view
      v-if="debug"
      :data="mailData"
      :options="{rootObjectKey: 'mailData'}"
    />
    <button
      v-if="debug"
      type="button"
      @click="reset"
    >
      Reset
    </button>
  </mail-form>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { requiredIf } from 'vuelidate/lib/validators'

import FormInput from '~/components/FormInput.vue'
import MailForm from '~/components/MailForm.vue'
import address from '~/components/dataform/Address.vue'
import check from '~/components/dataform/Check.vue'
import description from '~/components/dataform/Description.vue'
import longtext from '~/components/dataform/Longtext.vue'
import newdate from '~/components/dataform/Newdate.vue'
import number from '~/components/dataform/Number.vue'
import olddate from '~/components/dataform/Olddate.vue'
import phone from '~/components/dataform/Phone.vue'
import section from '~/components/dataform/Section.vue'
import select from '~/components/dataform/Select.vue'
import shorttext from '~/components/dataform/Shorttext.vue'
import { notFuture } from '~/lib/validators'
import windowMixin from '~/mixins/window'
import debugMixin from '~/mixins/debug'
import persistMixin from '~/mixins/persist'

const datainputs = {
  address,
  check,
  description,
  longtext,
  newdate,
  number,
  olddate,
  phone,
  section,
  select,
  shorttext
}

function fieldsFromTemplate (template) {
  template.fields.forEach(f => {
    if (!(f.type in datainputs)) {
      console.error(`type ${f.type} not a valid type`)
    }
  })
  return template.fields
    .map((f, i) => Object.assign({
      key: `d${i}`,
      nodata: datainputs[f.type].nodata,
      default: datainputs[f.type].defaultdata
    }, f))
}

function datafieldsFromTemplate (template) {
  return fieldsFromTemplate(template).filter(f => !f.nodata)
}

export default {
  components: {
    MailForm,
    FormInput,
    ...Object.fromEntries(Object.entries(datainputs)
      .map(([k, v]) => [`component-${k.toLowerCase()}`, v]))
  },
  mixins: [
    windowMixin,
    debugMixin,
    validationMixin,
    persistMixin
  ],
  props: {
    id: {
      type: String,
      default () {
        return ''
      }
    },
    template: {
      type: Object,
      default () {
        return {}
      }
    }
  },
  data () {
    const datafields = datafieldsFromTemplate(this.template)
    return Object.fromEntries(datafields.map(f => [this.dk(f), f.default]))
  },
  computed: {
    fields () {
      return fieldsFromTemplate(this.template)
    },
    datafields () {
      return datafieldsFromTemplate(this.template)
    },
    mailData () {
      return {
        title: this.template.title,
        url: this.$window.location.href,
        fields: this.datafields
          .filter(f => this.showField(f))
          .map(f => {
            let value = this.d(f)
            const transform = datainputs[f.type].transform
            if (transform) value = transform(value, f)
            return {
              label: f.label,
              value
            }
          })
      }
    },
    messages () {
      const m = {
        required: 'This field is required.',
        notFuture: 'Date should not be in the future!'
      }
      Object.entries(datainputs).forEach(([_, d]) => {
        Object.assign(m, d.messages)
      })
      return m
    }
  },
  mounted () {
    const specs = this.datafields.map(f => [
      this.dk(f),
      datainputs[f.type].persistType || 'plain'
    ])
    this.persist(this.$route.path, ...specs)
  },
  methods: {
    d (field) {
      return this.$data[this.dk(field)]
    },
    dk (field) {
      return `d_${field.key}`
    },
    showField (field) {
      if (!field.condition) return true
      const script = []
      for (const f of this.datafields.filter(f => f.flags)) {
        for (const flag of f.flags) {
          if (flag.values) {
            const values = flag.values.map(v => `'${v}'`).join()
            script.push(`const ${flag.name} = ` +
              `[${values}].includes(this.${this.dk(f)})`)
          }
        }
      }
      script.push(field.condition)
      try {
        return eval(script.join(';')) // eslint-disable-line no-eval
      } catch (e) {
        console.error('Could not evaluate condition for field ' +
          `"${field.key}": "${field.condition}"`)
        console.error(e.message)
      }
      return false
    },
    validate () {
      this.$v.$touch()
      return !this.$v.$invalid
    },
    reset () {
      this.datafields.forEach(f => { this.$data[this.dk(f)] = f.default })
      this.$v.$reset()
    }
  },
  validations () {
    const ret = {}
    for (const f of this.datafields) {
      const v = Object.assign({}, datainputs[f.type].validations)
      if (f.required) v.required = requiredIf(() => this.showField(f))
      if (f.notfuture) v.notFuture = notFuture
      ret[this.dk(f)] = v
    }
    return ret
  }
}
</script>
