<template>
  <!-- If this is wrapped in a label, we will toggle focus when changing
    the month.  We prevent clicks to keep that from happening.
    See https://github.com/charliekassel/vuejs-datepicker/issues/146
  -->
  <div @click.prevent="">
    <datepicker
      format="MMM D, YYYY"
      :value="value"
      @input="update"
    />
  </div>
</template>

<script>
import Datepicker from '@hokify/vuejs-datepicker'

import '@hokify/vuejs-datepicker/dist/vuejs-datepicker.css'

export default {
  components: {
    Datepicker
  },
  props: {
    value: {
      type: Date,
      default () {
        return null
      }
    }
  },
  methods: {
    update: function (value) {
      this.$emit('input', value)
    }
  }
}
</script>

<style lang="scss" scoped>
::v-deep {
  .today {
    background-color: var(--light-gray);
  }
}
</style>
