<template>
  <div>
    <div
      v-for="(p, i) in passages"
      :key="i"
    >
      <!-- eslint-disable vue/no-v-html -->
      <div
        class="passage"
        v-html="p"
      />
      <!-- eslint-enable vue/no-v-html -->
    </div>
  </div>
</template>

<script>
export default {
  props: {
    passages: {
      type: Array,
      default () {
        return []
      }
    }
  }
}
</script>

<style lang="scss" scoped>
::v-deep {
  h2 {
    font-size: var(--big-font-size);
  }

  b {
    vertical-align: super;
    font-size: var(--small-font-size);
  }

  p {
    margin: var(--half-inline-margin) 0;

    &:last-of-type::after {
      content: " (ESV)";
    }
  }
}
</style>
