<template>
  <transition
    :mode="mode"
    @enter="height = $refs.child.offsetHeight"
    @after-enter="height = undefined"
    @before-leave="height = $refs.child.offsetHeight"
    @leave="height = 0"
  >
    <div
      v-if="cond"
      :key="state"
      ref="container"
      class="container"
    >
      <div ref="child">
        <slot />
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  props: {
    cond: {
      type: Boolean,
      default () {
        return false
      }
    },
    state: {
      type: String,
      default () {
        return ''
      }
    },
    mode: {
      type: String,
      default () {
        return 'in-out'
      }
    }
  },
  data () {
    return {
      height: 0
    }
  },
  watch: {
    height (v) {
      const container = this.$refs.container
      const child = this.$refs.child
      if (!container) return
      if (isNaN(v)) {
        container.style.removeProperty('height')
        child.style.position = 'relative'
        return
      }
      container.style.height = `${v}px`
      child.style.removeProperty('position')
    }
  },
  mounted () {
    if (this.cond) this.height = this.$refs.child.offsetHeight
  }
}
</script>

<style lang="scss" scoped>
.container {
  position: relative;
  overflow: hidden;
  transition: height var(--snappy-speed);

  > * {
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  &.v-enter,
  &.v-leave-to {
    height: 0;
  }
}
</style>
