<template>
  <div
    class="input-help"
    :class="{collapsed}"
  >
    <!-- This parent span is to make tippy happy with keyboard
      accessibility.
      See: https://atomiks.github.io/tippyjs/accessibility/#interactivity
    -->
    <span>
      <span
        ref="icon"
        class="icon"
      >
        help
      </span>
    </span>
    <div class="inner">
      <div
        ref="content"
        class="content"
      >
        <slot />
      </div>
    </div>
  </div>
</template>

<script>
import tippy from 'tippy.js'

export default {
  props: {
    collapsed: {
      type: Boolean,
      default () {
        return false
      }
    }
  },
  mounted () {
    if (!this.collapsed) return

    const label = this.$vnode.elm.closest('label')
    if (!label) {
      console.error('Used FormInputHelp outside of a label')
      return
    }
    tippy(this.$refs.icon, {
      content: this.$refs.content,
      interactive: true
    })
  }
}
</script>

<style scoped>
.input-help {
  display: inline;
}

.icon {
  display: none;
  position: relative;
  top: -0.3rem;
  color: var(--dark-gray);
  font-size: var(--small-font-size);
}

.inner {
  display: block;
  margin: 0 0.3rem 0.3rem 0.3rem;
  font-size: var(--small-font-size);
  color: var(--dark-gray);
  width: var(--input-width);
  max-width: calc(100% - 0.6rem);
}

.collapsed .icon {
  display: inline;
}

.collapsed .icon:hover {
  color: var(--light-gray);
}

.collapsed .inner {
  display: none;
}
</style>
