<template>
  <div class="input-group">
    <div :class="{'input-row': isRow, 'input-warning': allError}">
      <slot />
    </div>
    <div class="input-warning-messages">
      <slot
        v-if="anyError"
        name="failure"
      />
    </div>
    <tree-view
      v-if="debug"
      :data="data"
      :options="{rootObjectKey: 'data', maxDepth: 2}"
    />
  </div>
</template>

<script>
import Debug from '~/mixins/debug'

export default {
  mixins: [
    Debug
  ],
  props: {
    data: {
      type: Object,
      default () {
        return {}
      }
    }
  },
  computed: {
    isRow () {
      return !('$model' in this.data) && Object.keys(this.data).length > 1
    },
    allError () {
      return this.data && this.data.$error
    },
    anyError () {
      return this.data &&
        (this.data.$error || Object.values(this.data).some(d => d && d.$error))
    }
  }
}
</script>

<style scoped>
.input-group {
  margin: var(--inline-margin) 0;
}

.input-row {
  display: flex;
  flex-wrap: wrap;
  width: calc(var(--input-width) + var(--inline-margin));
  max-width: calc(100% + var(--inline-margin));
  margin: 0 var(--neg-half-inline-margin);
}

.input-warning-messages > * {
  margin-left: 0.3rem;
  font-size: var(--small-font-size);
  color: var(--error-stroke-color);
}

>>> .input-warning input,
>>> .input-warning textarea,
>>> .input-warning select {
  border-color: var(--error-stroke-color);
  background-color: var(--error-background-color);
}
</style>
