<template>
  <div
    class="input-col"
    :class="{'input-warning': data.$error, 'input-row-fill': fill}"
  >
    <slot />
  </div>
</template>

<script>
export default {
  props: {
    data: {
      type: Object,
      default () {
        return {}
      }
    },
    fill: {
      type: Boolean,
      default () {
        return false
      }
    }
  }
}
</script>

<style scoped>
.input-col {
  margin: 0 var(--half-inline-margin);
}
</style>
