<template>
  <div
    class="form-container-outer"
    style="height: 0;"
  >
    <div
      ref="inner"
      class="form-container-inner"
    >
      <div
        class="form-close-container"
        @click="$emit('input', false)"
      >
        <span class="form-close">keyboard_arrow_up</span>
      </div>
      <div class="form-container-direct">
        <slot />
      </div>
    </div>
  </div>
</template>

<script>
import delay from 'delay'

export default {
  props: {
    // If this is true, the form should be revealed.
    // TODO: Does submit trigger both???
    value: {
      type: Boolean,
      default () {
        return false
      }
    }
  },
  computed: {
    image: () => require('@/people' + this.person.path + '.jpg')
  },
  watch: {
    async value (v) {
      // NOTE: We intentionally don't use reactive properties to set the height
      // and `open` class because it seems to make the transition jankier.
      const elm = this.$vnode.elm
      elm.style.height = `${this.$refs.inner.offsetHeight}px`
      if (v) {
        await delay(500)
        elm.classList.add('open')
        elm.style.removeProperty('height')
      } else {
        // This delay ensures the previous height gets set.
        await delay(0)
        elm.classList.remove('open')
        elm.style.height = '0'
      }
    }
  }
}
</script>

<style scoped>
.form-container-outer {
  position: relative;
  overflow: hidden;
  transition: height 0.5s ease;
  max-width: calc(var(--input-width) + 2rem);
}

.open {
  overflow: auto;
}

.form-container-inner {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--lightest-gray);
}

.open .form-container-inner {
  position: relative;
}

.form-close-container {
  line-height: 1;
  font-size: var(--header-height);
  text-align: right;
  font-family: var(--icon-font-family);
  cursor: pointer;
}

.form-close-container:hover {
  background-color: var(--light-gray);
}

.form-container-direct {
  padding: 0 1rem 1rem 1rem;
}
</style>
