<template>
  <div class="leader">
    <div class="content-narrow content-top">
      <g-image
        :alt="`Portrait of ${name}`"
        :src="img"
      />
      <span class="name">{{ name }}</span>
      <span
        v-if="area"
        class="area"
      >{{ area }}</span>
      <a
        v-if="email"
        :href="`mailto:${email}`"
      >{{ email }}</a>
      <div class="social">
        <a
          v-if="facebook"
          :href="`https://facebook.com/${facebook}`"
          class="no-ext-warn"
          target="_blank"
          rel="noreferrer"
        >
          <img
            alt="Facebook logo"
            :src="logos.facebook"
          >
        </a>
        <a
          v-if="instagram"
          :href="`https://instagram.com/${instagram}`"
          class="no-ext-warn"
          target="_blank"
          rel="noreferrer"
        >
          <img
            alt="Instagram logo"
            :src="logos.instagram"
          >
        </a>
        <a
          v-if="linkedin"
          :href="`https://linkedin.com/in/${linkedin}`"
          class="no-ext-warn"
          target="_blank"
          rel="noreferrer"
        >
          <img
            alt="LinkedIn logo"
            :src="logos.linkedin"
          >
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import facebook from 'super-tiny-icons/images/svg/facebook.svg'
import instagram from 'super-tiny-icons/images/svg/instagram.svg'
import linkedin from 'super-tiny-icons/images/svg/linkedin.svg'

export default {
  props: {
    area: {
      type: String,
      default () {
        return null
      }
    },
    email: {
      type: String,
      default () {
        return null
      }
    },
    facebook: {
      type: String,
      default () {
        return null
      }
    },
    instagram: {
      type: String,
      default () {
        return null
      }
    },
    linkedin: {
      type: String,
      default () {
        return null
      }
    },
    name: {
      type: String,
      default () {
        return 'Anonymous'
      }
    },
    img: {
      type: Object,
      default () {
        return null
      }
    }
  },
  data () {
    return {
      logos: {
        facebook,
        instagram,
        linkedin
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.leader {
  margin-bottom: 1rem;
  text-align: center;
}

img {
  width: 100%;
}

.name {
  display: block;
  font-size: var(--large-font-size);
}

.area {
  display: block;
}

.social {
  margin-top: 0.5rem;

  a {
    display: inline-block;
    width: 2rem;
    margin: 0 0.5rem;
  }
}
</style>
