<template>
  <div class="container">
    <div
      ref="buttons"
      class="buttons"
    >
      <span
        v-for="(f, i) in forms"
        :key="i"
        class="button"
        @click="expanded = i"
      >
        {{ f.buttonText }}
      </span>
    </div>
    <div
      ref="forms"
      class="forms"
    >
      <div
        ref="inner"
        class="inner"
      >
        <div
          class="closer"
          @click="expanded = -1"
        >
          <span class="icon">keyboard_arrow_up</span>
        </div>
        <slot />
      </div>
    </div>
  </div>
</template>

<script>
// import delay from 'delay'

export default {
  data () {
    return {
      expanded: -1,
      forms: []
    }
  },
  watch: {
    expanded () {
      this.resize()
    }
  },
  mounted () {
    // Get form data from the slot.
    this.forms = this.$children.map(c => ({
      el: c.$el,
      buttonText: c.$el.dataset.buttonText
    }))

    // We are about the height of several divs.  Let's watch them in case
    // the window size changes.
    this.resize()
    const ro = new ResizeObserver(() => this.resize())
    ro.observe(this.$refs.buttons)
    this.forms.forEach(f => ro.observe(f.el))
  },
  methods: {
    resize () {
      // We have to make sure the elements are still around, because the
      // observer gets triggered as elements are removed from the dom.
      if (Object.values(this.$refs).some(r => !r)) return

      // Set the button size and make it absolute so that we can draw over it.
      const buttons = this.$refs.buttons
      this.$el.style.minHeight = `${buttons.offsetHeight}px`

      if (this.expanded < 0) {
        // The forms are unexpanded.
        this.$refs.forms.style.removeProperty('height')
      } else {
        // A form is expanded.  Set the dimensions correctly.
        this.$children.forEach((c, i) => {
          if (i === this.expanded) {
            c.$el.style.removeProperty('display')
          } else {
            c.$el.style.display = 'none'
          }
        })
        this.$refs.forms.style.height = `${this.$refs.inner.offsetHeight}px`
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.container {
  position: relative;
  clear: both;
}

hr {
  margin-bottom: 0;
}

.forms {
  position: relative;
  height: 0;
  width: 100%;
  background-color: var(--default-background);
  overflow: hidden;
  transition: height var(--snappy-speed) ease;
}

.inner {
  position: absolute;
  bottom: 0;
}

.closer {
  font-size: var(--header-height);
  line-height: 1;
  background-color: var(--lightest-gray);
  cursor: pointer;
}

.buttons {
  position: absolute;
  padding-top: var(--inline-margin);
}
</style>
