<template>
  <div>
    <div
      v-for="(p, i) in cq.paragraphs"
      :key="`p-${i}`"
      class="mini-paragraph"
    >
      <hr v-if="i">
      <div class="wrap-list">
        <div
          v-for="({q, a, v, r, f}, j) in p.qas"
          :key="`qa-${j}`"
        >
          <p>
            <span>{{ q }}</span>
            <br>
            <span class="a">{{ a }}</span>
            <sup v-if="f">*</sup>
          </p>
          <p>
            <span class="v">{{ v }}</span>
            <br>
            <span>{{ r }}</span>
          </p>
          <p v-if="f">
            <sup>*</sup>{{ f }}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    cq: {
      type: Object,
      default () {
        return {}
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.mini-paragraph {
  .wrap-list {
    --flex-spacing: 1rem;

    > * {
      flex-grow: 1;
      background-color: var(--secondary-color-light);
      padding: 0 var(--inline-margin);
    }

    .a {
      font-weight: bold;
    }

    .v {
      font-style: italic;
    }
  }
}
</style>
