<template>
  <input
    v-model.trim="model"
    type="text"
    name="phone"
  >
</template>

<script>
import { parsePhoneNumberFromString } from 'libphonenumber-js'

export default {
  props: {
    value: {
      type: String,
      default () {
        return ''
      }
    }
  },
  computed: {
    model: {
      get () {
        return this.value
      },
      set (v) {
        const pn = parsePhoneNumberFromString(v, 'US')
        if (pn) {
          this.$emit('input', pn.formatNational())
          return
        }
        this.$emit('input', v)
      }
    }
  }
}

function isPhoneNumber (value) {
  if (!value) return true
  const pn = parsePhoneNumberFromString(value, 'US')
  return !!pn && pn.isValid()
}

export {
  isPhoneNumber
}
</script>
