<template>
  <g-link
    v-if="sermon.preacher && sermon.preacher.path"
    :to="sermon.preacher ? sermon.preacher.path : ''"
    nospell
  >
    {{ sermon.preacher.title }}
  </g-link>
  <span
    v-else
    nospell
  >
    {{ sermon.preacherName }}
  </span>
</template>

<script>
export default {
  props: {
    sermon: {
      // This should be an instance of type data.Sermon.
      type: Object,
      default () {
        return {}
      }
    }
  }
}
</script>
