<template>
  <div :class="[state]">
    <div
      v-if="!notoggle"
      class="qref"
      @click="toggleVerses"
    >
      <span class="icon expander-icon">expand_more</span>
      <span v-if="index">
        [{{ index }}]
      </span>
      {{ verses }}
    </div>
    <expander
      class="expander"
      :state="state"
      :cond="state !== 'closed'"
      mode="out-in"
    >
      <div
        v-if="state === 'loading'"
        class="spinner expander-child"
      >
        <spinner />
      </div>
      <div
        v-else-if="state === 'error'"
        class="error-message"
      >
        Sorry, we could not load the passage!<br>
        <span v-if="error.code">{{ error.code }}:</span>
        {{ error.message }}
      </div>
      <div
        v-else-if="state === 'expanded'"
        class="expander-child"
      >
        <EsvPassage :passages="passages" />
      </div>
    </expander>
  </div>
</template>

<script>
import LRU from 'lru-cache'

import EsvPassage from '~/components/EsvPassage'
import Expander from '~/components/Expander'
import Spinner from '~/components/Spinner'
import esv from '~/lib/esv'

const cache = new LRU({
  max: 30
})

export default {
  components: {
    EsvPassage,
    Expander,
    Spinner
  },
  props: {
    index: {
      type: Number,
      default () {
        return 0
      }
    },
    notoggle: {
      type: Boolean,
      default () {
        return false
      }
    },
    verses: {
      type: String,
      default () {
        return ''
      }
    }
  },
  data () {
    return {
      passages: null,
      state: 'closed',
      error: null
    }
  },
  watch: {
    verses (newv, oldv) {
      cache.set(oldv, this.passages)
      this.passages = cache.get(newv) || null
      this.state = 'closed'
      this.error = null
      this.validate()
      if (this.notoggle) this.toggleVerses()
    }
  },
  created () {
    this.validate()
  },
  mounted () {
    if (this.notoggle) this.toggleVerses()
  },
  methods: {
    async toggleVerses () {
      if (this.state === 'loading') return
      if (this.state === 'error' && !this.error.code) return

      if (!this.passages) {
        this.state = 'loading'
        const resp = await esv.query(this.verses, 'click')
        if (resp.status !== 200) {
          this.error = {
            code: resp.status,
            message: resp.message
          }
          this.state = 'error'
          return
        }
        this.passages = resp.passages
      }

      switch (this.state) {
        case 'expanded':
          this.state = 'closed'
          break
        default:
          this.state = 'expanded'
      }
    },
    validate () {
      try {
        esv.validate(this.verses)
      } catch (e) {
        console.log(e.message)
        this.state = 'error'
        this.error = {
          code: 0,
          message: e.message
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.qref {
  margin: var(--half-inline-margin) 0;
  padding: 0 var(--half-inline-margin);
  background-color: var(--secondary-color-light);

  &:hover {
    background-color: var(--secondary-color-light2);
    cursor: pointer;
  }

  .loading &:hover {
    background-color: var(--secondary-color-light);
    cursor: default;
  }
}

.expander-icon {
  transition: transform var(--snappy-speed);
  display: inline-block;

  .expanded & {
    transform: rotate(180deg);
  }
}

.spinner {
  text-align: center;

  .expanded & {
    opacity: 0;
  }
}

.error-message {
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--error-stroke-color);
  padding-bottom: 1rem;
}

// These two ensure that the expander is set just above the next Prooftext.
.expander {
  margin-bottom: var(--neg-half-inline-margin);
}

.expander-child {
  padding-bottom: var(--half-inline-margin);
}
</style>
