<template>
  <div>
    <span class="next-head">Upcoming:</span>
    <span
      v-if="next"
      class="next-event"
    >
      {{ next.dateStr }}
      <span
        v-if="next.note"
        class="next-note"
      ><br>({{ next.note }})</span>
    </span>

    <div class="full-width schedule-container">
      <div class="schedule-tables wrap-list main-narrow">
        <div
          v-for="(t, i) in years"
          :key="i"
        >
          <table>
            <thead>
              <tr>
                <th colspan="2">
                  {{ t.year }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(s, j) in t.schedule"
                :key="j"
                :class="{next: s === next}"
              >
                <td class="date-col">
                  {{ s.dateStr }}
                </td>
                <td class="event-col">
                  <span v-if="s.canceled">Canceled</span>
                  <span v-if="s.note"> ({{ s.note }})</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { getNext, getYearTables, readSchedule } from '~/lib/schedule'
import client from '~/mixins/client'

export default {
  mixins: [
    client
  ],
  props: {
    dates: {
      type: Array,
      default () {
        return []
      }
    }
  },
  computed: {
    next () {
      return getNext(this.schedule, this.now)
    },
    schedule () {
      return readSchedule(this.dates)
    },
    years () {
      return getYearTables(this.schedule, this.now)
    }
  }
}
</script>

<style lang="scss" scoped>
.next-head,
.next-event {
  display: block;
  text-align: center;
  font-size: var(--large-font-size);
}

.next-event {
  font-weight: bold;
}

.next-note {
  font-size: var(--big-font-size);
  font-weight: normal;
}

.schedule-container {
  background-color: var(--secondary-color-light);
  margin: var(--double-inline-margin) 0;
}

.schedule-tables {
  --flex-spacing: 4rem;

  margin: var(--inline-margin) auto;

  table {
    width: 100%;
    max-width: 20rem;
    border-spacing: 0;
    margin: 0 auto;

    td {
      padding: 0 var(--half-inline-margin);
      vertical-align: top;
    }
  }

  .next {
    font-weight: bold;
    background-color: var(--secondary-color);
  }

  .event-col {
    max-width: 10rem;
  }
}
</style>
