<template>
  <div
    class="container"
  >
    <div class="icon search-icon">
      search
    </div>
    <input
      ref="input"
      v-model="query"
      class="search"
      type="text"
      :placeholder="placeholder"
      @input="onInput"
      @blur="focus = false"
      @focus="focus = true; resetSelection()"
      @keydown.arrow-up.prevent="selected -= 1"
      @keydown.arrow-down.prevent="selected += 1"
      @keydown.tab.shift.prevent="selected -= 1"
      @keydown.tab.exact.prevent="selected += 1"
      @keydown.enter.prevent="action(value[selected])"
    >
    <!--
      The mousedown.prevent keeps the input from getting blurred so that
      link doesn't disappear while it is being clicked.
    -->
    <div
      class="results"
      @mousedown.prevent
    >
      <slot v-if="focus" />
    </div>
  </div>
</template>

<script>
import delay from 'delay'

import { normalizeKey } from '~/lib/datautils'
import mobile from '~/mixins/mobile'

export default {
  mixins: [
    mobile
  ],
  props: {
    value: {
      type: Array,
      default () {
        return []
      }
    },
    data: {
      type: Array,
      default () {
        return []
      }
    },
    placeholder: {
      type: String,
      default () {
        return 'Type a query'
      }
    },
    limit: {
      type: Number,
      default () {
        return 0
      }
    },
    action: {
      type: Function,
      default () {
        return () => {}
      }
    }
  },
  data () {
    return {
      focus: false,
      query: '',
      selected_: 0
    }
  },
  computed: {
    selected: {
      get () {
        return this.selected_
      },
      set (v) {
        const n = this.value.length
        this.selected_ = ((v % n) + n) % n
        this.$emit('update:selected', this.selected_)
      }
    }
  },
  watch: {
    query (q) {
      // Update the URL.
      if ((q || undefined) !== this.$route.query.q) {
        const query = Object.assign({}, this.$route.query)
        if (q) {
          query.q = q
        } else {
          delete query.q
        }
        this.$router.replace(Object.assign({}, this.$route, { query }))
      }

      this.search()
    },
    data () {
      this.search()
    }
  },
  mounted () {
    const q = this.$route.query.q
    if (q) this.query = q
  },
  methods: {
    onInput (e) {
      // This is needed because v-model only updates on spaces in composition
      // mode on mobile.
      this.query = e.target.value
    },
    resetSelection () {
      this.selected = this.$ismobile ? -1 : 0
    },
    async search () {
      // If the query is empty, we should return an empty list rather than
      // including everything, unfiltered.
      if (!this.query) {
        this.$emit('input', [])
        return
      }

      const terms = normalizeKey(this.query).split(/\s+/)
      const result = []
      for (const s of this.data) {
        if (terms
          .every(t => s.searchFields
            .some(k => normalizeKey(s.data[k]).includes(t)))) {
          result.push(s.data)
          if (result.length === this.limit) break
        }
      }
      this.$emit('input', result)
      // The `selected` setter needs the result to actually be updated
      // first, so we let the value get emitted by calling a 0 delay.
      // The alternative would be to add another data value called
      // resultLength_ that recorded result.length.
      await delay(0)
      this.resetSelection()
      this.$refs.input.focus()
    }
  }
}
</script>

<style lang="scss" scoped>
.container {
  position: relative;
}

input[type="text"].search {
  width: 100%;
  padding-left: 2.1rem;
}

.search-icon {
  padding: 0 var(--half-inline-margin);
  font-size: var(--large-font-size);
  line-height: calc(1.25 * var(--normal-line-height) * var(--normal-font-size));
  position: absolute;
}

.results {
  position: absolute;
  width: 100%;
  background-color: var(--lightest-gray);
  z-index: 1;
}
</style>
