<template>
  <g-link
    :to="series.path"
    class="img-link card-container"
  >
    <g-image
      :alt="series.title"
      :src="series.image"
    />
    <div class="img-link-content scrimmed">
      <p>{{ series.title }}</p>
      <p
        v-if="year"
        class="year"
      >
        {{ year }}
      </p>
      <p
        v-if="count === 1"
        class="count"
      >
        1 message
      </p>
      <p
        v-else-if="count !== 0"
        class="count"
      >
        {{ count }} messages
      </p>
    </div>
  </g-link>
</template>

<script>
export default {
  props: {
    series: {
      type: Object,
      default () {
        return null
      }
    },
    year: {
      type: Number,
      default () {
        return 0
      }
    },
    count: {
      type: Number,
      default () {
        return 1
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.card-container {
  display: block;
}

.count,
.year {
  font-size: var(--normal-font-size);
}
</style>
