<template>
  <form @submit.prevent="doAction">
    <slot />

    <!-- https://developers.google.com/recaptcha/docs/faq#id-like-to-hide-the-recaptcha-badge.-what-is-allowed -->
    <div
      v-if="notifyRecaptcha"
      class="recaptcha-notice extra-light"
    >
      This site is protected by reCAPTCHA and the Google
      <a
        href="https://policies.google.com/privacy"
        rel="noreferrer"
        target="_blank"
      >
        Privacy Policy
      </a>
      and
      <a
        href="https://policies.google.com/terms"
        rel="noreferrer"
        target="_blank"
      >
        Terms of Service
      </a>
      apply.
    </div>

    <div class="button-container">
      <transition mode="out-in">
        <div
          :key="status"
          class="button-inner"
        >
          <input
            v-if="status === 'static' || status==='error'"
            class="static dark-button"
            type="submit"
            :value="submitText"
          >
          <div
            v-if="status === 'error'"
            class="input-warning submit-error"
          >
            <span class="input-warning-message">
              <slot name="error">Please fix hilighted fields</slot>
            </span>
          </div>
          <spinner
            v-if="status === 'pending'"
            key="pending"
            class="pending"
          />
          <span
            v-if="status === 'submitted'"
            key="submitted"
            class="submitted"
          >
            <slot name="success">Success!</slot>
          </span>
        </div>
      </transition>
    </div>
  </form>
</template>

<script>
import delay from 'delay'

import Spinner from '~/components/Spinner'

export default {
  components: {
    Spinner
  },
  props: {
    action: {
      type: Function,
      default () {
        alert('No action set!')
      }
    },
    validate: {
      type: Function,
      default () {
        return () => true
      }
    },
    submitText: {
      type: String,
      default () {
        return 'Submit'
      }
    },
    notifyRecaptcha: {
      type: Boolean,
      default () {
        return false
      }
    }
  },
  data () {
    return {
      status: 'static'
    }
  },
  methods: {
    async doAction () {
      if (!this.validate()) {
        this.status = 'error'
        return
      }

      this.status = 'pending'
      // The pending spinner should run for at least a second.
      const spin = delay(1000)

      const ok = await this.action()
      await spin
      this.status = ok ? 'submitted' : 'error'
    }
  }
}
</script>

<style scoped>
.button-container {
  margin-top: 1rem;
  min-height: 4rem;
}

.pending {
  height: 3.5rem;
  margin-left: 1rem;
}

.submitted {
  display: block;
  box-sizing: border-box;
  width: var(--input-width);
  max-width: 100%;
  background-color: var(--success-background-color);
  padding: 1rem;
}

.button-inner {
  transition: opacity var(--snappy-speed);
}

.button-inner.v-enter,
.button-inner.v-leave-to {
  opacity: 0;
}

.button-inner.v-enter-active {
  /* Let the spinner run for at least 1 second. */

  /* transition-delay: 1s; */
}
</style>
