<template>
  <g-link
    :to="to"
    @click.native="vibrate"
  >
    <slot />
  </g-link>
</template>

<script>
export default {
  props: {
    to: {
      type: [String, Object],
      default () {
        return ''
      }
    }
  },
  methods: {
    vibrate () {
      window.navigator.vibrate(100)
    }
  }
}
</script>
