<template>
  <div class="announcements">
    <g-link
      v-for="a in announcements"
      :key="a.id"
      class="placard img-link"
      :to="a.link"
      :class="[a.style]"
    >
      <g-image
        :src="a.image"
        alt="Event background"
      />
      <div
        class="scrimmed img-link-content"
        :class="[a.style]"
      >
        {{ a.content }}
      </div>
    </g-link>
  </div>
</template>

<static-query>
query {
  announcements: allAnnouncement {
    edges {
      node {
        id
        image
        schedule {
          end
          content
          link
          start
          urgency
        }
        style
      }
    }
  }
  articles: allArticle(sortBy: "date", order: DESC, limit: 1) {
    edges {
      node {
        date
        image(width: 720, height: 480)
        path
        title
        bannerstyle
      }
    }
  }
  blueChairs: srcImage(id: "announcements/img/blue-chairs.jpg") {
    image
  }
  boyBible: srcImage(id: "announcements/img/boy-bible.jpg") {
    image
  }
  dirtTrowel: srcImage(id: "announcements/img/dirt-trowel.jpg") {
    image
  }
}
</static-query>

<script>
import meetings from '~/data/members-meetings.yml'
import workdays from '~/data/workdays.yml'
import announcements from '~/lib/announcements'
import debug from '~/mixins/debug'

export default {
  mixins: [
    debug
  ],
  data () {
    return {
      announcements: []
    }
  },
  mounted () {
    const boyBible = this.$static.boyBible.image
    const blueChairs = this.$static.blueChairs.image
    const dirtTrowel = this.$static.dirtTrowel.image
    const article = this.$static.articles.edges[0].node
    const nodes = this.$static.announcements.edges.map(e => e.node)
    nodes.push(announcements.articleEvent(article))
    nodes.push(announcements.catechismEvent(boyBible))
    const workdayEvent =
      announcements.scheduleEvent('Workday', workdays.schedule)
    if (workdayEvent) {
      nodes.push(Object.assign(workdayEvent, {
        link: '/workdays/',
        image: dirtTrowel,
        style: 'dark'
      }))
    }
    const meetingEvent =
      announcements.scheduleEvent('Members’ meeting', meetings.schedule)
    if (meetingEvent) {
      nodes.push(Object.assign(meetingEvent, {
        link: '/members-meetings/',
        image: blueChairs,
        style: 'dark'
      }))
    }
    this.announcements = announcements.filterSort(nodes)
  }
}
</script>

<style lang="scss" scoped>
.announcements {
  --placard-height: 15rem;
  --placard-width: 20rem;
  --announcement-description-height: 50vh;

  display: flex;
  flex-wrap: wrap;
  margin-top: var(--content-margin);

  > * {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: var(--placard-height);
    min-width: var(--placard-width);

    img {
      max-width: 50rem;
    }
  }
}

@media only screen and (min-height: 30rem) {
  .announcements {
    --announcement-description-height: 15rem;
  }
}
</style>
