<template>
  <div class="container">
    <div class="main-narrow">
      <span
        v-if="sermons.length === 1"
        class="recent"
      >Recent Message</span>
      <span
        v-else
        class="recent"
      >Recent Messages</span>
      <sermon-panel
        v-for="s in sermons"
        :key="s.id"
        :value="s"
        class="sermon"
        recent
      />
    </div>
  </div>
</template>

<static-query>
query {
  latest: allSermon(sortBy: "date", order: DESC, limit: 2) {
    edges {
      node {
        id
        date
        path
        preacher {
          path
          title
        }
        text
        title
        series {
          title
          path
          image
          sermons: belongsTo(filter: { typeName: { eq: Sermon } }) {
            edges {
              node {
                ... on Sermon {
                  id
                }
              }
            }
          }
        }
        unregisteredPreacher
      }
    }
  }
}
</static-query>

<script>
import SermonPanel from '~/components/SermonPanel'
import { Sermon } from '~/lib/data'
import { filterRecentSermons } from '~/lib/schedule'

export default {
  components: {
    SermonPanel
  },
  computed: {
    sermons () {
      return filterRecentSermons(this.$static.latest).map(s => new Sermon(s))
    }
  }
}
</script>

<style lang="scss" scoped>
.container {
  background-color: var(--secondary-color-light);
}

.recent {
  padding-left: var(--inline-margin);
  font-size: var(--subheading-font-size);
  font-weight: 600;
}

h1 {
  font-size: var(--title-font-size);
}

.sermon {
  border-top: 1px solid var(--light-gray);

  &:first-of-type {
    border-top: 0;
  }
}
</style>
