<template>
  <div class="main-narrow header-logo">
    <g-link
      class="home"
      to="/"
      exact
    >
      <g-image
        src="/logo-white.svg"
        alt="Silicon Valley Reformed Baptist Church logo"
        blur="100"
        width="400"
      />
    </g-link>
  </div>
</template>

<style scoped>
.header-logo {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: var(--max-header-height);
  pointer-events: none;
}

a {
  pointer-events: auto;
}

.home.active {
  cursor: default;
}

.home img {
  float: right;
  height: 100%;
  width: auto;
  max-width: calc(100% - 3rem);
  background-color: var(--default-background);
  object-fit: contain;
  object-position: bottom;
  transition: opacity var(--snappy-speed);
}

.home img.g-image--loading {
  opacity: 0;
}
</style>
