<template>
  <div
    :class="classes"
    class="layout"
  >
    <main-urgent
      v-if="featLive"
      ref="urgent"
    />
    <div
      ref="main"
      class="main"
    >
      <div class="top-gap main-narrow" />
      <main-header v-model="sidebarExpanded" />
      <main-header-logo />
      <slot />
      <main-footer />
    </div>
    <main-sidebar v-model="sidebarExpanded" />
    <tree-view
      v-if="debug"
      :data-obj="JSON.stringify(debugInfo)"
      :data="debugInfo"
      :options="{rootObjectKey: 'debugInfo'}"
      class="main-debug"
    />
  </div>
</template>

<script>
import delay from 'delay'

import MainFooter from '~/layouts/main/Footer'
import MainHeader from '~/layouts/main/Header'
import MainHeaderLogo from '~/layouts/main/HeaderLogo'
import MainSidebar from '~/layouts/main/Sidebar'
import MainUrgent from '~/layouts/main/Urgent'
import Timer from '~/lib/timer'
import Debug from '~/mixins/debug'

export default {
  components: {
    MainFooter,
    MainHeader,
    MainHeaderLogo,
    MainSidebar,
    MainUrgent
  },
  mixins: [
    Debug
  ],
  metaInfo () {
    let href = this.$route.path
    if (!href.endsWith('/')) href += '/'
    return {
      base: {
        href
      }
    }
  },
  data () {
    return {
      debugInfo: null,
      sidebarExpanded: false
    }
  },
  computed: {
    classes () {
      const classes = {}
      if (this.$route.name) {
        classes[`route-${this.$route.name}`] = true
      }
      return classes
    }
  },
  watch: {
    async featLive () {
      await delay(0) // Let the urgent announcements become visible first.
      this.watchOffset()
    }
  },
  async mounted () {
    this.watchOffset()

    // TODO: Move the debug information into watch offset too?
    if (this.debug) {
      const main = document.querySelector('.main')
      const timer = new Timer()
      const initialHeight = main.offsetHeight
      this.debugInfo = {
        heightStability: {
          initial: initialHeight
        }
      }

      const observe = () => {
        const newHeight = main.offsetHeight
        if (!this.debugInfo.heightStability.new &&
          newHeight !== initialHeight) {
          Object.assign(this.debugInfo.heightStability, {
            new: newHeight,
            time: timer.sinceCreated()
          })
          // Ensure the tree-view watcher gets triggered.
          this.debugInfo = Object.assign({}, this.debugInfo)
        }
      }

      const observer = new MutationObserver(observe)
      observer.observe(main, {
        attributes: true,
        characterData: true,
        childList: true,
        subtree: true
      })

      // Fire off one extra observation untriggered by any actual dom change.
      // This can catch height changes due to animations or font loading.
      setTimeout(observe, 500)
    }
  },
  methods: {
    watchOffset () {
      const calcOffset = () => {
        const main = this.$refs.main
        main.style.setProperty('--main-top', main.getBoundingClientRect().top)
      }
      window.addEventListener('resize', calcOffset)
      calcOffset()

      if (!this.$refs.urgent) return
      new MutationObserver(calcOffset)
        .observe(this.$refs.urgent.$el, {
          attributes: true,
          characterData: true,
          childList: true,
          subtree: true
        })
    }
  }
}
</script>

<style scoped>
.layout {
  --max-header-height: 6.4rem;
  --header-height: 3.2rem;
  --max-content-width: 80rem;
  --content-margin: 2rem;
  --structure-border-width: 4px;
  --sidebar-width: 18rem;

  position: relative;
}

.top-gap {
  height: calc(var(--max-header-height) - var(--header-height));
}

.main {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

footer,
>>> .main-narrow {
  max-width: var(--max-content-width);
  width: calc(100% - (2 * var(--content-margin)));
  margin-left: auto;
  margin-right: auto;
}

.content {
  margin: 0 var(--content-margin);
}

.main-debug {
  border-top: 1px solid black;
  padding: 2rem var(--content-margin);
}
</style>
