<template>
  <transition name="sidebar">
    <div
      v-if="value"
      :style="{'--drag-modifier': `${dragMod}px`}"
      class="sidebar-container"
    >
      <div
        class="overlay"
        @click="$emit('input', false)"
      />
      <div
        :class="{dragging}"
        class="sidebar"
        @touchstart="touchstart"
        @touchmove="touchmove"
        @touchend="touchend"
      >
        <div class="sidebar-header" />
        <main-nav />
      </div>
    </div>
  </transition>
</template>

<script>
import delay from 'delay'

import MainNav from '~/layouts/main/Nav'

export default {
  components: {
    MainNav
  },
  props: {
    // If this is true, the sidebar should be expanded.
    value: {
      type: Boolean,
      default () {
        return false
      }
    }
  },
  data () {
    return {
      dragMod: 0,
      dragging: false,
      movements: [0, 0, 0],
      offset: 0
    }
  },
  watch: {
    async $route () {
      // This 0-delay gives a chance for the router to apply the active classes
      // to the g-links before they are destroyed.
      await delay(0)
      this.$emit('input', false)
    }
  },
  methods: {
    touchstart ({ touches }) {
      this.dragging = true
      this.start = touches[0].pageX
    },
    touchmove ({ touches }) {
      if (!this.dragging) return
      this.movements.shift()
      const oldOffset = this.offset
      this.offset = touches[0].pageX - this.start
      this.movements.push(this.offset - oldOffset)
      const fSize = parseFloat(
        getComputedStyle(document.documentElement).fontSize)
      const rem = parseFloat(
        getComputedStyle(this.$vnode.elm).getPropertyValue('--sidebar-width'))
      this.dragMod = Math.min(Math.max(-(rem * fSize), this.offset), 0)
    },
    touchend (obj) {
      if (this.movements.every(m => m <= 0) &&
        this.movements.some(m => m < 0)) {
        this.$emit('input', false)
      }
      this.dragging = false
      this.offset = 0
      this.dragMod = 0
      this.movements = [0, 0, 0]
    }
  }
}
</script>

<style scoped>
>>> {
  --sidebar-speed: var(--snappy-speed);
}

.sidebar {
  --nav-selected-color: var(--light-gray);

  position: fixed;
  top: 0;
  z-index: 2;
  left: var(--drag-modifier);
  width: var(--sidebar-width);
  min-height: var(--maxwh);
  background-color: var(--lightest-gray);
  box-shadow: 0 0 10px 0 var(--light-gray);
  transition: left var(--sidebar-speed) ease;
}

.sidebar.dragging {
  transition-duration: 0s;
}

.sidebar-enter .sidebar,
.sidebar-leave-to .sidebar {
  left: calc(-1 * var(--sidebar-width));
}

.sidebar-leave-active {
  transition: var(--sidebar-speed);
}

.sidebar-header {
  height: var(--header-height);
}

.overlay {
  position: fixed;
  top: 0;
  z-index: 2;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  opacity: 0.5;
  background-color: var(--darkest-gray);
  transition: opacity var(--sidebar-speed) ease;
}

.sidebar-enter .overlay,
.sidebar-leave-to .overlay {
  opacity: 0;
}

>>> .nav-text {
  margin: 0 1rem;
  padding: 1.6rem 0;
  border-top: 1px solid var(--light-gray);
}

>>> a:first-of-type .nav-text,
>>> a:hover .nav-text,
>>> a.active .nav-text,
>>> a:hover + a .nav-text,
>>> a.active + a .nav-text {
  border-color: rgba(0, 0, 0, 0);
}
</style>
