<template>
  <urgent-announcement v-show="church">
    It's the Lord's Day!
    <g-link to="/bulletin/">
      See this week's bulletin.
    </g-link>
  </urgent-announcement>
</template>

<script>
import delay from 'delay'

import UrgentAnnouncement from '~/components/UrgentAnnouncement.vue'
import { sundayInSession } from '~/lib/schedule'

export default {
  components: {
    UrgentAnnouncement
  },
  data () {
    return {
      timestamp: null
    }
  },
  computed: {
    church () {
      return sundayInSession(this.timestamp)
    }
  },
  mounted () {
    this.pollTime()
  },
  methods: {
    async pollTime () {
      while (true) {
        this.timestamp = new Date()
        await delay(1000)
      }
    }
  }
}
</script>
