<template>
  <div>
    <slot
      v-if="template.slottext"
      :name="`${template.key}-text`"
    />
    <template v-else>
      {{ template.text }}
    </template>
  </div>
</template>

<script>
import dataform from '~/mixins/dataform'

export default {
  mixins: [
    dataform
  ],
  nodata: true
}
</script>
