<template>
  <div>
    <label :for="id">{{ template.label }}</label>
    <form-input-help v-if="template.help">
      {{ template.help }}
    </form-input-help>
    <textarea
      :id="id"
      v-model="model"
    />
  </div>
</template>

<script>
import dataform from '~/mixins/dataform'

export default {
  mixins: [
    dataform
  ],
  defaultdata: ''
}
</script>
