<template>
  <div>
    <label :for="id">{{ template.label }}</label>
    <old-date-input
      :id="id"
      v-model="model"
    />
  </div>
</template>

<script>
import OldDateInput, { isDate } from '~/components/OldDateInput.vue'
import { formatLADate, dateFullFmt } from '~/lib/datetime'
import dataform from '~/mixins/dataform'

export default {
  components: {
    OldDateInput
  },
  mixins: [
    dataform
  ],
  defaultdata: {},
  validations: {
    isDate
  },
  messages: {
    isDate: 'This must be a valid date.'
  },
  transform (value) {
    if (value && value.date) return formatLADate(value.date, dateFullFmt)
    return ''
  }
}
</script>
