<template>
  <div>
    <label :for="id">{{ template.label }}</label>
    <phone-input
      :id="id"
      v-model="model"
    />
  </div>
</template>

<script>
import PhoneInput, { isPhoneNumber } from '~/components/PhoneInput.vue'
import dataform from '~/mixins/dataform'

export default {
  components: {
    PhoneInput
  },
  mixins: [
    dataform
  ],
  defaultdata: '',
  validations: {
    isPhoneNumber
  },
  messages: {
    isPhoneNumber: 'This must be a valid phone number.'
  }
}
</script>
