<template>
  <div>
    <label :for="id">{{ template.label }}</label>
    <form-input-help v-if="template.help">
      {{ template.help }}
    </form-input-help>
    <select
      :id="id"
      v-model="model"
    >
      <option value="">
        --
      </option>
      <option
        v-for="o in template.options"
        :key="o.value"
        :value="o.value"
      >
        {{ o.label }}
      </option>
    </select>
  </div>
</template>

<script>
import dataform from '~/mixins/dataform'

export default {
  mixins: [
    dataform
  ],
  defaultdata: '',
  transform (value, template) {
    for (const o of template.options) {
      if (value === o.value) {
        return o.label
      }
    }
    return ''
  }
}
</script>
