:root {
  // wh should be adjusted in javascript to be 1% the window height.
  --wh: 1vh;
  --fwh: calc(100 * var(--wh));
  // maxwh should be adjusted in javascript to be the maximum window height
  // not created by a scroll event.
  --maxwh: 100vh;
  // dw should be adjusted in javascript to be 1% the document width.
  --dw: 1vw;
  --fdw: calc(100 * var(--dw));
  // This is should be window.scrollY at any given point.
  --scroll-y: 0;

  // Page size properties
  // This variable needs to be set by divs that have a fixed header.
  --header-height: 0;

  // Responsive widths
  --mobile-width: 35rem;
  --wmobile-width: 40rem;
  --tablet-width: 60rem;
  --desktop-width: 75rem;
  --wdesktop-width: 90rem;

  // Block decorations
  --big-border-radius: 0.5rem;

  // Colors
  --darkest-gray: #222;
  --dark-gray: #5e5e5e;
  --light-gray: #acacac;
  --light-gray2: #e7e7e7;
  --lightest-gray: #f1f1f1;
  --secondary-color: #b5a19e;
  --secondary-color-light: #ece8e7;
  --secondary-color-light2: #f7f2f1;
  --secondary-color-dark: #584643;
  --accent-color: #79436d;
  --accent-color-light: #c494b9;
  --accent-color-light2: #dfc4d8;
  --error-background-color: #f0a3b1;
  --error-stroke-color: #b50022;
  --success-background-color: #b1f0b7;
  --default-background: #fff;
  --scrim-color-light-min: #efefef77;
  --scrim-color-light: #fff9;
  --scrim-color-dark-min: #10101077;
  --scrim-color-dark: #0009;

  // Text properties
  --tiny-font-size: 9pt;
  --small-font-size: 10.5pt;
  --normal-font-size: 12pt;
  --big-font-size: 15pt;
  --large-font-size: 18pt;
  --subheading-font-size: 24pt;
  --title-font-size: 36pt;
  --extra-large-font-size: 54pt;
  --super-large-font-size: 72pt;
  --half-line-height: .9;
  --short-line-height: 1.4;
  --normal-line-height: 1.8;
  --normal-line-height-abs: 1.8rem;
  --double-line-height: 3.6;
  --normal-font-family: 'Open Sans', sans-serif;
  --title-font-family: 'Palanquin', sans-serif;
  --icon-font-family: 'Material Icons', emoji;
  --input-width: 33rem;

  // Image properties
  --portrait-width: 200px;
  --portrait-height: 250px;
  --portrait-border-radius: 10px;
  --portrait-border-width: 2px;
  --portrait-caption-height: 40px;
  --inline-margin: 1rem;
  // These are set directly because it is faster than using calc.
  --half-inline-margin: 0.5rem;
  --neg-inline-margin: -1rem;
  --neg-half-inline-margin: -0.5rem;
  --double-inline-margin: 2rem;
  --triple-inline-margin: 3rem;

  // Transitions
  --snappy-speed: 0.25s;
  --present-speed: 1s;
}

@media only screen and (min-width: 90rem) {
  :root {
    --inline-margin: 1.5rem;
  }
}

// BEGIN body text
body {
  margin: 0;
  padding: 0;
  color: var(--darkest-gray);
  font-family: var(--normal-font-family);
  line-height: var(--normal-line-height);
  font-size: var(--normal-font-size);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

hr {
  background-color: var(--light-gray);
  width: 90%;
  margin: var(--double-inline-margin) auto;
}

*[id] {
  // Because we may have a stick header, we need to adjust our scroll snaps.
  scroll-margin-top: var(--header-height);
}

small {
  font-size: var(--small-font-size);
}

.large {
  font-size: var(--large-font-size);
}

.center {
  text-align: center;
}

blockquote {
  box-sizing: border-box;
  width: 100%;
  margin: 1em 0;
  padding: var(--inline-margin);
  font-style: italic;
  background-color: var(--secondary-color-light);
  border-radius: var(--big-border-radius);
}

blockquote p:first-of-type {
  margin-top: 0;
}

blockquote p:last-of-type {
  margin-bottom: 0;
}

.citation {
  text-align: right;
}

.citation::before {
  content: "— ";
}

pre {
  box-sizing: border-box;
  padding: 1rem;
  background-color: var(--secondary-color-light);
  border-radius: var(--big-border-radius);
  overflow: auto;
}

code {
  color: var(--dark-gray);
}

.icon,
.icon-before::before,
.icon-after::after {
  font-family: var(--icon-font-family);
  transition: opacity var(--snappy-speed);
  vertical-align: middle;

  .icon-font-loading & {
    opacity: 0;
  }
}

.meridiem {
  font-variant: small-caps;
}

.dark {
  color: var(--lightest-gray);
}

.scrimmed {
  background-color: var(--scrim-color-light);
}

.dark .scrimmed {
  background-color: var(--scrim-color-dark);
}

.pref {
  &::before {
    content: "(";
  }

  &::after {
    content: ")";
  }
}

.ref,
.pref {
  color: var(--accent-color);

  &:hover {
    color: var(--accent-color-light);
  }
}

// BEGIN headings
h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
  margin: 0;
  clear: both;
}

h1 {
  font-size: var(--title-font-size);
}

h2 {
  font-size: var(--subheading-font-size);
  margin-top: 2rem;

  &.subtitle {
    font-size: var(--large-font-size);
  }
}

h3 {
  font-size: calc(0.75 * var(--subheading-font-size));
}

h4 {
  font-size: calc(0.5 * var(--subheading-font-size));
}

// BEGIN links
a,
.link {
  color: var(--accent-color);
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: var(--accent-color-light);
  }

  &[target="_blank"]::after {
    content: "open_in_new";
    font-family: var(--icon-font-family);

    // Use .no-ext-warn to remove the "open_in_new" icon after external links.
    .no-ext-warn &, {
      content: none;
    }

    @at-root a.no-ext-warn[target="_blank"]::after {
      content: none;
    }
  }
}

.icon-font-loading a[target="_blank"]::after {
  content: "\00a0\00a0";
  padding: 0 0.2em;
}

.extra-light {
  color: var(--light-gray);
}

a.button[target="_blank"]::after,
a.dark-button[target="_blank"]::after {
  content: none;
}

.dark a,
.extra-light a {
  color: var(--accent-color-light);
}

.extra-light a:hover,
.dark a:hover {
  color: var(--accent-color-light2);
}

.img-link {
  position: relative;
  overflow: hidden;
  color: inherit;

  img {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform var(--snappy-speed);
  }

  &:hover {
    color: inherit;

    img {
      transform: scale(1.1);
    }
  }

  .img-link-content {
    width: fit-content;
    max-width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    padding: var(--half-inline-margin);
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    font-size: var(--large-font-size);

    p {
      margin: 0;
    }
  }
}

// BEGIN lists

ol ol {
  list-style-type: lower-alpha;
}

// BEGIN structure

.full-width {
  position: relative;
  width: var(--fdw);
  left: calc(-0.5 * (var(--fdw) - 100%));
}

.clear {
  clear: both;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.top2 {
  margin-top: var(--double-inline-margin);
}

.vert2 {
  margin: var(--double-inline-margin) 0;
}

.cursor-pointer {
  cursor: pointer;
}

.background-secondary-light {
  background-color: var(--secondary-color-light);
}

// BEGIN Input
input[type=text],
input[type=number],
textarea,
select {
  display: block;
  box-sizing: border-box;
  font-family: var(--normal-font-family);
  line-height: var(--normal-line-height);
  font-size: var(--normal-font-size);
  padding: 0.2rem;
  margin: 0;
  width: var(--input-width);
  max-width: 100%;
  border: 2px solid var(--dark-gray);
  height: calc(1.25 * var(--normal-line-height) * var(--normal-font-size));
}

input[type=checkbox] {
  line-height: var(--normal-line-height);
  float: left;
  height: calc(var(--normal-line-height) * var(--normal-font-size));
  width: 1.2rem;
  margin: 0 0.5rem 0 2px;
}

select[value=""] {
  color: var(--dark-gray);
}

select option[value=""] {
  color: var(--dark-gray);
}

textarea {
  min-height: 10rem;
}

form label {
  display: block;
  width: var(--input-width);
  color: var(--darkest-gray);
  margin-left: 0.3rem;
  font-size: var(--normal-font-size);
  max-width: 100%;
}

.button,
.dark-button,
input[type=submit] {
  cursor: pointer;
  display: block;
  width: fit-content;
  padding: 0.75rem;
  border: 2px solid var(--accent-color);
  border-radius: var(--big-border-radius);
  text-transform: uppercase;
  font-size: var(--normal-font-size);
  box-shadow: 3px 3px 5px var(--light-gray);
  background-color: var(--scrim-color-light-min);
}

.button {
  color: var(--accent-color);
}

// TODO: this should be replaced with a .cta class
.dark-button,
input[type=submit] {
  color: var(--darkest-gray);
  border-color: var(--dark-gray);
  background-color: var(--accent-color-light);
}

.button:hover {
  background-color: var(--scrim-color-light);
  color: var(--accent-color);
}

.dark-button:hover {
  color: var(--dark-gray);
  background-color: var(--accent-color-light2);
}

.button:hover,
.dark-button:hover {
  box-shadow: 5px 5px 5px var(--light-gray);
}

.button:active,
.dark-button:active {
  box-shadow: 7px 7px 5px var(--light-gray);
}

.form-container {
  box-sizing: border-box;
  width: max-content;
  max-width: 100%;
  padding: 1rem;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  min-inline-size: 0;
}

.input-row-fill {
  flex-grow: 1;
  max-width: calc(100% - var(--inline-margin));
  width: 0;
}

// BEGIN flex
.wrap-list {
  // Users of this should define:
  // --flex-width:   the apparent width of the block (ignore the width field
  //                 here that is designed to do a trick with negative
  //                 margins)
  // --flex-spacing: the minimum space between items in the list
  display: flex;
  flex-wrap: wrap;
  margin: calc(-0.5 * var(--flex-spacing));
  width: calc(var(--flex-width) + var(--flex-spacing));
  max-width: calc(100% + var(--flex-spacing));
  justify-content: space-evenly;

  > *,
  > input[type=text] {
    flex-grow: 1;
    margin: calc(0.5 * var(--flex-spacing));
    max-width: calc(100% - var(--flex-spacing));
  }
}

// BEGIN images
.content-banner {
  width: 100%;
}

.content-wide,
.content-narrow {
  width: 100%;
  display: block;
  margin: 1rem 0;
}

.content-wide.content-top,
.content-narrow.content-top {
  margin-top: 0;
}

.content-float-left {
  float: left;
  margin-right: var(--inline-margin);
}

.content-float-right {
  float: right;
  margin-left: var(--inline-margin);
}

@media only screen and (min-width: 40rem) { // --wmobile-width
  .content-narrow {
    width: 20rem;
  }
}

@media only screen and (min-width: 60rem) {
  .content-wide {
    width: 40rem;
  }
}

@media only screen and (min-width: 90rem) { // --wdesktop-width
  .content-float-narrow {
    width: 25rem;
  }

  .content-float-wide {
    width: 50rem;
  }
}

// BEGIN media
.theater {
  @extend .full-width;

  background-color: var(--darkest-gray);

  iframe {
    display: block;
    margin: 0 auto;
    width: var(--fdw);
    height: 56.25vw; /* 16:9 */
    max-height: calc(100vh - var(--header-height));
    max-width: calc((100vh - var(--header-height)) * (16 / 9));
  }
}

// BEGIN tippy
.tippy-tooltip {
  font-weight: bold;
  color: var(--dark-gray);
  background-color: var(--secondary-color);
}

.tippy-tooltip[data-placement^=top] .tippy-arrow {
  border-top-color: var(--secondary-color);
}

// BEGIN reCAPTCHA
.recaptcha-notice {
  position: relative;
  margin: var(--neg-inline-margin) 0.3rem 0 0.3rem;
  font-size: var(--tiny-font-size);
}

.recaptcha-notice a[target="_blank"]::after {
  content: "";
}

.grecaptcha-badge {
  visibility: hidden;
}

// BEGIN RebelGive
#givingflow-trigger-container {
  display: none;
}

/* BEGIN loading */
[v-cloak] {
  display: none;
}

/* BEGIN scrollama */
.resize-observer {
  display: none;
}
