<p>
  {{text}}<br>
{{#if preacher}}
  Sermon by {{preacher.title}}
{{/if}}
</p>

{{{content}}}

{{#if series}}
<p>
  This is part of a series on
  <a href="{{siteUrl}}{{series.path}}">{{series.title}}</a>.
</p>
{{/if}}

{{#unless hasAudio }}
<p>
  Sorry, there is no audio recording available.
{{#if youtube }}
  However,
  <a href="`https://www.youtube.com/watch?v=${youtube}`">
    a video recording is available at YouTube</a>.
{{/if}}
</p>
{{/unless}}
