<template>
  <data-form :template="template" />
</template>

<script>
import DataForm from '~/components/DataForm'
import template from '~/data/forms/test.yml'

export default {
  components: {
    DataForm
  },
  data () {
    return {
      template
    }
  }
}
</script>
