<template>
  <prooftext
    class="prooftext"
    verses="Gen 1:1"
    :index="1"
  />
</template>

<script>
import Prooftext from '~/components/Prooftext'

export default {
  components: {
    Prooftext
  }
}
</script>
